<nav class="w-full h-[10%] flex items-center justify-between px-20">
    <h1 class="text-xl font-semibold ">Blog Website</h1>
    <div class="atags flex gap-8">
        <a href="/createblog">Create Blog</a>
        <a href="/profile">Profile</a>
        <a href="">Contact</a>
        <a href="/">Home</a>
    </div>
    <div class="login-singup">
        <a class="bg-zinc-300 px-4 py-2 rounded" href="/login">Login</a>
        <a class="bg-zinc-300 px-4 py-2 rounded" href="/register">register</a>
    </div>


</nav>